/.DS_Store
/fonts
/node_modules
/package-lock.json
articles-startObj.txt
commit.txt
curr-lib.js
eslintrc.json
forward-lib.js
issues.txt
NYTcore.min.css
NYTstyles.css
pre-accum-testcase-lib.js
dbCompare.js
spectre.min.css
spectre-icons.min.css
startObj copy.txt
startObj.txt
/.vscode
*.bak
old-lib.js
index copy.html
validate*
