.author {font-size: .6rem;}
p.msg {margin-bottom: 0px}
p.Pbar {font-size: 14px;}
progress.Pbar {padding-top: 11px; margin-top: 12px;}
.artdiv[data-content]::after {padding-left: 0px;}
.recdiv {border-top-color: #5755d9 !important}
.recdiv[data-content]::after {padding-left: 0px; color: #5755d9; font-size: .8rem;}
.keydiv {border-top-color: grey !important}
.keydiv[data-content]::after {padding-left: 0px; color: grey;}
.keywDiv {margin-top: 40px; margin-bottom: 25px;}
.srchArt {margin-top: 2px;}
.clearDiv {clear: left;}
.disen {appearance: none;}
.or {margin-top: 12px; margin-bottom: 12px}

/* 
    These styles apply to the recipe cards displayed on the NYTCooking search results page.
     With the exception of the 'cardLinkStyle' and 'imageStyle' styles, these styles were copied from
     from an NYT Cooking search results page using Google Chrome developer tools.
*/
.cardStyle {
    color: #222;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 1;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    height: 263px;
    width: 183.5px
}
.cardLinkStyle {
    text-decoration: none;
}
a.cardLinkStyle:link {
    text-decoration: none;
}
a.cardLinkStyle:visited {
    text-decoration: none;
}
a.cardLinkStyle:hover {
    text-decoration: none;
}
a.cardLinkStyle:active {
    text-decoration: none;
}
.figureStyle {
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 1;
    list-style: none;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 66.6666666667%;
}
.figureDivStyle {
    display: block; 
    overflow: hidden; 
    position: absolute; 
    inset: 0px; 
    box-sizing: 
    border-box; 
    margin: 0px;
}
.imageStyle {
    width: 100%;
    height: 100%
}
.artStyle {    color: #222;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 1;
    list-style: none;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out,-moz-box-shadow .2s ease-in-out;
}
article.artStyle:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cardSectionStyle {
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 1;
    list-style: none;
    color: inherit;
    box-sizing: border-box;
    padding: 10px;
    height: 140px;
}
.cardTitleStyle {
    list-style: none;
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.2;
    font-size: 18px;
}
.cardBylineStyle {
    list-style: none;
    color: #222;
    box-sizing: border-box;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 1.45;
}
.cardCooktimeStyle {
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    font-family: nyt-franklin,Arial,Helvetica,sans-serif;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 1.45;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    position: absolute;
    bottom: 11px;
    left: 10px;
    right: 48px;
    color: #767676;
}